/****** General Styles ******/
body {
	font-size: 12px;
	font-family: Verdana, Arial;
	
	color: #000000;
	margin: 20px;
	padding: 0px;
	margin-bottom: 40px;
	text-align: center;
	background-repeat: repeat-x;
}

table {
	width:90%;
	padding:0;
	margin:0;
	border-collapse: collapse;
}
td{
}

a {
	text-decoration: none;
	color: #076AA6;
}
a:hover {
	text-decoration: underline;
	color:#3FA8E7;
}
div{
	white-space:normal;
}
img {
	vertical-align: middle;
	border: 0px none;
	height:auto;
	margin:5px;
}
hr {
	height: 1px;
	border: 0;
	border-top: 1px solid #CCCCCC;
}

/****** Form Controls Styles ******/
form {
	display: inline;
}
input {
	font-size: 12px; 
}
input {
	padding: 1px 3px;
	border: 1px solid #CCC;
	color: #777; 
	background-color: #F6F6F6;
	font-weight:bold;
}
input.button {
	height: 20px;
	border: 1px solid #076AA6;
	border-left: 4px solid #076AA6;
	color: #076AA6; 
	background-color: #F6F6F6;
}
textarea { 
	border: 1px solid #CCC;
	background-color: #F6F6F6;
	color: #777;
	height:60px;
	width:75%;
}
select {  
	color: #076AA6; 
	background-color: #F6F6F6;
	border: 1px solid #076AA6;
}



#header{
	height:20px;
	font-size:16px;
	font-weight:bold;
	text-align:left;
	border-left:4px solid #CCC;
	padding:10px;
}
#des{
	height:14px;
	font-weight:bold;
	text-align:left;
	border-left:4px solid #CCC;
	padding:10px;
}
#mainform{
	font-size:12px;
	font-weight:normal;
	text-align:left;
	padding:10px;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	border:1px double #cccccc;
	width:60%;
	text-align:center;
	margin-bottom:10px;
}
#message{
	padding:5px 0;
	background-color:#FAD163;
	width:auto;
	font-weight:bold;
	width:90%;
	margin:0 0 20px 0;
}
#delform{
	height:12px;
	font-size:12px;
	font-weight:normal;
	text-align:left;
	padding:10px;
	margin-top:20px;
}
#maintable tr td{
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	
	padding: 6px 6px 6px 12px;
	
}
#title{
	font-weight:bold;
	padding:10px;
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none
}
.imagetable{
	width:100%;
}